src/figs/.DS_Store
src/.DS_Store
src/hello-world.e
src/.ipynb_checkpoints/hello-world-checkpoint.ipynb
src/.ipynb_checkpoints/Fast-Julia-checkpoint.ipynb
src/.ipynb_checkpoints/Heun-method-checkpoint.ipynb
doc/hello-world/figs/.DS_Store
.DS_Store
