
src/.ipynb_checkpoints/Heun-method-checkpoint.ipynb
src/.ipynb_checkpoints/Fast-Julia-checkpoint.ipynb
src/figs/.DS_Store
src/.ipynb_checkpoints/hello-world-checkpoint.ipynb
src/.DS_Store
src/.ipynb_checkpoints/hello-world-checkpoint.ipynb
src/hello-world.e
